.container {
  margin: 2%
}

.link {
text-decoration: none;
color: rgb(52, 0, 149) ;
}

.link:hover {
color: rgb(255, 161, 83);
}

.btn {
  border-radius: 5px;
  background-color: rgb(228, 245, 250);
  border: 1px solid lightblue;
  color: rgb(52, 0, 149);
}
.btn:hover {
 color:  rgb(255, 161, 83);

}

.input {
  color:rgb(102, 7, 7);
}

h1 {
  color: rgb(52, 0, 149);
}
